h1 {
    font-family: 'Zen Kurenaido', sans-serif;
}
h2 {
    font-family: 'Zen Kurenaido', sans-serif;
    
}
p {
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
    cursor: pointer;
}
i{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    background-image: url(synth.jpg);
    background-size: cover;
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
}
.head{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: #0f1417;
}
.logo>h1{
    color: white;
    margin-left: 1.5em;
}
.about{
    display: flex;
    justify-content: left;
    align-items: center ;
}
.about>a>p {
    font-size: 35px;
    font-weight: 600;
}
.about>p {
    font-size: 35px;
    font-weight: 600;
}
.info_bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text_info {
    color: #1f2518;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a solid 5px;
    border-radius: 100%;
    margin-top: 7.5em;
    margin-right: 10px;
}
.icons_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}
.text_info > h2{
    width: 220px;
    margin-left: 2em;
}
.nav_head{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: #caa8cd;
}
.nav_menu_bar{
    margin-right: 1em;
}
.nav_menu_bar>a>i{
    color: #1f2518;
}
.nav_logo>h1{
    color: #1f2518;
    margin-left: 1.5em;
}
.nav_about{
    display: flex;
    justify-content: left;
    align-items: center ;
}
.nav_about>a>p {
    color: #1f2518;
    font-size: 35px;
    font-weight: 600;
}
.nav_bar{
    width: 300px;
    height: 1000px;
    background-color: #caa8cd;

}
.nav_bar>ul{
    width: 150px;
    list-style-type: none;
    padding: 10px;
    color: #1f2518;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}
.nav_bar>ul>li{
    margin-bottom: 1em;
}
.nav_bar>ul>a{
    color: #1f2518;
}
.nav_bar>ul>a>li:hover{
    opacity: 0.8;
}
.nav_info_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:  100.25em;
    height:  62em;
    background-color:rgba(0, 0, 0, 0.5) ;
}
.nav_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:  100.25em;
    height:  62em;
    background-color:rgba(0, 0, 0, 0.5) ;
}
.nav_text_info {
    color: #1f2518;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a9a solid 5px;
    border-radius: 100%;
    margin-top: 7.5em;
    
}
.nav_text_info > h2{
    width: 220px;
    margin-left: 2em;
}
.nav_icons_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-top: 20px;
    margin-right: 18.3em;
    opacity: 0.5;
}
.info_1 {
    color: #f0ebe8;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a solid 5px;
    margin-top: 7.5em;
    margin-right: 10em;
}
.info_2 {
    color: #f0ebe8;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a solid 5px;
    margin-top: 7.5em;
    margin-left: 10em;
}
.nav_info_1 {
    color: #f0ebe88a;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a9a solid 5px;
    margin-top: 7.5em;
}
.nav_info_2 {
    color: #f0ebe88c;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #55a25a9a solid 5px;
    margin-top: 7.5em;
    margin-right: 18em;
}
.info_1>h2{
    margin-left: 1.5em;
}
.info_2>h2{
    margin-left: 1.5em;
}
.nav_info_1>h2{
    margin-left: 1.5em;
}
.nav_info_2>h2{
    margin-left: 1.5em;
}
.text_info:hover{
    opacity: 0.8;
    cursor: pointer;
}
.nav_text_info:hover{
    opacity: 0.8;
    cursor: pointer;
}
.info_1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.nav_info_1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.info_2:hover{
    opacity: 0.8;
    cursor: pointer;
}
.nav_info_2:hover{
    opacity: 0.8;
    cursor: pointer;
}
